- resource = Resource.find(1)
%article{ id: resource.basename }
  %h1 Event Presentations and Resources for Review
  %ol.nice
    %li
      %span
        = link_to "Ruby Style Guide Introduction", "http://c.kat.pe/post/the-ruby-style-guide-introduction/", target: "_blank"
        %a{ href: "http://c.kat.pe/post/the-ruby-style-guide-introduction/", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "ActiveSupport Core Extensions", "http://guides.rubyonrails.org/active_support_core_extensions.html", target: "_blank"
        %a{ href: "http://guides.rubyonrails.org/active_support_core_extensions.html", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Ruby 2.0: Array", "http://www.ruby-doc.org/core-2.0.0/Array.html", target: "_blank"
        %a{ href: "http://www.ruby-doc.org/core-2.0.0/Array.html", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Ruby 2.0: Enumerable", "http://ruby-doc.org/core-2.0.0/Enumerable.html", target: "_blank"
        %a{ href: "http://ruby-doc.org/core-2.0.0/Enumerable.html", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Percent Literals", "http://en.wikibooks.org/wiki/Ruby_Programming/Syntax/Literals", target: "_blank"
        %a{ href: "http://en.wikibooks.org/wiki/Ruby_Programming/Syntax/Literals", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Pry: An IRB Alternative", "https://github.com/pry/pry", target: "_blank"
        %a{ href: "https://github.com/pry/pry", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Minitest", "https://github.com/seattlerb/minitest", target: "_blank"
        %a{ href: "https://github.com/seattlerb/minitest", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Devise for Authentication", "https://github.com/plataformatec/devise", target: "_blank"
        %a{ href: "https://github.com/plataformatec/devise", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Code School: Rails Best Practices", "http://www.codeschool.com/courses/rails-best-practices", target: "_blank"
        %a{ href: "http://www.codeschool.com/courses/rails-best-practices", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
