- resource = Resource.find(2)
%article{ id: resource.basename }
  %h1 Ruby Resources
  %ol.nice
    %li
      %span
        = link_to "Learn to Program", "http://pine.fm/LearnToProgram/"
        %a{ href: "http://pine.fm/LearnToProgram/", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Ruby Monk", "http://rubymonk.com/"
        %a{ href: "http://rubymonk.com/", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Try Ruby", "http://tryruby.org/levels/1/challenges/0"
        %a{ href: "http://tryruby.org/levels/1/challenges/0", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Ruby Warrior", "https://www.bloc.io/ruby-warrior/#/"
        %a{ href: "https://www.bloc.io/ruby-warrior/#/", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Ruby Style Guide", "https://github.com/bbatsov/ruby-style-guide"
        %a{ href: "https://github.com/bbatsov/ruby-style-guide", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Ruby on Rails Testing with RSpec", "http://www.codeschool.com/courses/testing-with-rspec"
        %a{ href: "http://www.codeschool.com/courses/testing-with-rspec", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Better Specs", "http://betterspecs.org/"
        %a{ href: "http://betterspecs.org/", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;

  %h1 Ruby on Rails Resources
  %ol.nice
    %li
      %span
        = link_to "Rails for Zombies", "http://railsforzombies.org/"
        %a{ href: "http://railsforzombies.org/", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Ruby on Rails Tutorial", "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book?version=4.0#top"
        %a{ href: "http://ruby.railstutorial.org/ruby-on-rails-tutorial-book?version=4.0#top", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Rails Style Guide", "https://github.com/bbatsov/rails-style-guide"
        %a{ href: "https://github.com/bbatsov/rails-style-guide", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Railscasts", "http://railscasts.com/"
        %a{ href: "http://railscasts.com/", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;

  %h1 Git Resources
  %ol.nice
    %li
      %span
        = link_to "Try Git", "http://www.codeschool.com/courses/try-git"
        %a{ href: "http://www.codeschool.com/courses/try-git", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Pro Git", "http://git-scm.com/book"
        %a{ href: "http://git-scm.com/book", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;

  %h1 Deployment Resources
  %ol.nice
    %li
      %span
        = link_to "Ruby on Rails: Deploy", "http://rubyonrails.org/deploy"
        %a{ href: "http://rubyonrails.org/deploy", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Deploying with Git on Heroku", "https://devcenter.heroku.com/articles/git"
        %a{ href: "https://devcenter.heroku.com/articles/git", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
    %li
      %span
        = link_to "Heroku Postgres", "https://devcenter.heroku.com/categories/heroku-postgres"
        %a{ href: "https://devcenter.heroku.com/categories/heroku-postgres", target: "_blank", class: "icon-popup", title: 'Open link in new window'}
          &nbsp;
